
.logo{
    position: absolute;
    top: 0px;
    left: 500px;  
}
h3{
    position: absolute;
    top: 165px;
    left: 130px;
    font: inherit;
}
.menu{
    background-color:rgba(232, 190, 205, 0.919);
    position: absolute;
    top: 230px;
    left: 30px;
    height: 500px;
    width: 300px; 
    padding: 15px;

}
.stores{
    border: 3px solid rgba(232, 190, 205, 0.919);
    border-radius: 30px;
    padding: 30px;
    position: absolute;
    top: 800px;
    left: 350px;
    width: 950px; 
    
    
}
.perfume{
    border: 3px solid #a2d5a2;
    
    position: absolute;
    top: 2px;
    left: 345px;
    height: 300px;
    width: 310px; 
    .pv{
        position: absolute;
        top: 2px;
        left: 4px;
    }
}
.skin{
    border: 3px solid #a2d5a2;
    
    position: absolute;
    top: 2px;
    left: 693px;
    height: 300px;
    width: 310px; 
    .sv{
        position: absolute;
        top: 2px;
        left: 4px;
    }
}
.bags{
    border: 3px solid #a2d5a2;
    
    position: absolute;
    top: 2px;
    left: 1045px;
    height: 300px;
    width: 310px; 
    .hv{
        position: absolute;
        top: 2px;
        left: 4px;
    }
}
.contact{
    border: 3px solid #a2d5a2;
    border-radius: 30px;
    position: absolute;
    top: 550px;
    left: 0px;
    padding: 20px;
    width: 300px; 
    input[type=text]:focus {
        border: 3px solid #555;
      }
    
}
table{
    font-size: 25px;
}

